<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ehcontrol.net"
    android:versionCode="1"
    android:versionName="1.0" 
    
    >
    <!-- android:versionName : Versión visible para el usuario -->
	<!-- android:installLocation = "preferExternal" : Lugar donde va a instalarse la app. (tarjeta SD)-->
    
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    
    <!-- Permiso de acceso a todas las APIs de internet -->
	<uses-permission android:name = "android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
	<uses-permission android:name="android.permission.SET_DEBUG_APP"/>
	
	<!-- Permiso de almacenamiento externo -->
	<uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>
	
	<!-- Permiso anti-bloqueo -->
	<uses-permission android:name = "android.permission.WAKE_LOCK"/>
	
	<!-- Requerimiento Hardware. Pantalla multitouch -->
	<uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true"/>"
	
	<!-- application : Componentes de la app. -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity
            android:name="ehcontrol.net.LogIn"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <!-- Punto de entrada principal, sirve para convertir una activity en principal -->
                <action android:name="android.intent.action.MAIN" />
                <!-- Añadida al lanzador de la aplicación -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>       
        </activity>
        
        <activity
            android:name=".MainMenu"
            android:label="Main Menu" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"> 
            <intent-filter>
                <action android:name="ehcontrol.net.MainMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>        
        </activity>
        
        <activity
            android:name=".ManagementMenu"
            android:label="Management Menu" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="ehcontrol.net.ManagementMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
        <activity
            package="ehcontrol.net"
            android:name=".PlacesMenu"
            android:label="Places Menu" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name=".PlacesMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>           
        </activity>
        
         <!-- Places -->
        <activity
            android:name="places.BathRoomMenu"
            android:label="BathRoom Menu" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="places.BathRoomMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
        <activity
            android:name="places.GarageMenu"
            android:label="Garage Menu" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="places.GarageMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
        <activity
            android:name="places.GardenMenu"
            android:label="Garden Menu" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="places.GardenMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
        <activity
            android:name="places.KitchenMenu"
            android:label="Kitchen Menu" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="places.KitchenMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
        <activity
            android:name="places.LivingRoomMenu"
            android:label="LivingRoom Menu" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="places.LivingRoomMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
        <activity
            android:name="places.RoomMenu"
            android:label="Room Menu" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="places.RoomMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
        <activity
            android:name="places.TerraceMenu"
            android:label="Terrace Menu" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="places.TerraceMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
        
        <!-- Items -->
        <activity
            android:name="items.Tv"
            android:label="TV" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="places.TV" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>         
        </activity>
        
    </application>
    
</manifest>
