<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ehc.net"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

	<supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" 
        android:resizeable="true"/>
	
    <!-- Permiso de acceso a todas las APIs de internet -->
	<uses-permission android:name = "android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-permission android:name="android.permission.SET_DEBUG_APP"/>

	<!-- Permiso de almacenamiento externo -->
	<uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>
	
	<!-- Permiso anti-bloqueo -->
	<uses-permission android:name = "android.permission.WAKE_LOCK"/>

	<!-- Requerimiento Hardware. Pantalla multitouch -->
	<uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true"/>"

    <!-- application : Componentes de la app. -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
        <activity
            android:name="ehc.net.LogIn"
            android:label="@string/app_name"
             android:theme="@style/Theme.Sherlock.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        
        </activity>
        <activity 
            android:name="ehc.net.MainMenu" 
            android:theme="@style/Theme.Sherlock.NoActionBar"
            android:label="@style/AppTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"> 
          	<intent-filter>
          	    <action android:name="ehc.net.MainMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name="ehc.net.ManagementMenu" 
            android:theme="@style/Theme.MyTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"> 
          	<intent-filter>
          	    <action android:name="ehc.net.ManagementMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 
            android:name="ehc.net.PlacesMenu" 
            android:theme="@style/AppTheme" 
            android:label="@style/AppTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"> 
          	<intent-filter>
          	    <action android:name="ehc.net.PlacesMenu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="ehc.net.ItemsActivity" 
            android:theme="@style/AppTheme" 
            android:label="@style/AppTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"> 
          	<intent-filter>
          	    <action android:name="ehc.net.ItemsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="framework.ContainerFragments"
			android:theme="@style/AppTheme" 
            android:label="@style/AppTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="framework.ContainerFragments" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
    </application>

</manifest>
